body{
	max-width: 1200px;
	margin: 0 auto;
	background-color: white;
}
header{
	text-align: center;
	background-size: cover;
	background-color: red;
}
h1{
	font-size: 50px;
	letter-spacing: 1px;
	margin-bottom: 0;
	padding:0;
	color: #FF7400;
}
h3{
	margin-bottom: 20px;
	margin-top: 0;
}
a{
	color: black;
}
#tagline{
	letter-spacing: .5px;
}
.header li{
	display: inline;
	padding: 0 10px 0 10px;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}
.header{
	padding: 10px;
	border-top: 2px black solid;
	border-bottom: 2px black solid;
}
.headerlinks{
}
h2{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 0;
	height: 40px;
}
#select{
	margin-bottom: 0;
	padding-bottom: 0;
}
#tiles{
	height: 660px;
	margin: 0 auto;
}
.menu ul{
	max-width: 100%;
	margin: 0 auto;
}
.menu{
	width: 1200px;
	padding: 15px;
	list-style: none;
}
.menu li{
	cursor: pointer;
	height: 200px;
	width: 380px;
	margin: 10px 0 10px 0;
	position: relative;
	float: left;
	border-radius: 12px;
	position: relative;
	display: block;
}
.fade:hover{
	background-color: rgba(0,0,0,0);
	color: rgba(192,178,131,.4);
}
.fade{
	background: rgba(0,0,0,.6);
	text-align: center;
	font-size: 40px;
	letter-spacing: 1px;
	border-radius: 12px;
	padding: 10px;
	position: absolute;
	bottom: 0;
	margin: 0;
	width: 360px;
	height: 180px;
	line-height: 180px;
	transition: background-color 0.7s ease;
	color: #FF8B2A;
}
.row::after {
   	content: "";
   	clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
#genreheader{
    font-size: 30px;
    padding-left: 5px;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
}
@media only screen and (min-width: 1000px){
			.col-1 {width: 8.33%;}
			.col-2 {width: 16.66%;}
			.col-3 {width: 25%;}
			.col-4 {width: 33.33%;}
			.col-5 {width: 41.66%;}
			.col-6 {width: 50%;}
			.col-7 {width: 58.33%;}
			.col-8 {width: 66.66%;}
			.col-9 {width: 75%;}
			.col-10 {width: 83.33%;}
			.col-11 {width: 91.66%;}
			.col-12 {width: 100%;}	
}
@media only screen and (max-width: 1000px){
    [class*="col-"]{
        width: 100%;
    }
}
.sources{
	align-content: center
	padding-left: 0;
}
#back{
	text-align: right;
	padding-right: 5px;
	font-size: 12px;
}
.recommendations{
	font-size: 14px;
}
#image{
	padding-top: 0;
}
#selection:hover{
	background-color: rgba(0,0,0,0.3);
	transition: background-color 0.3s ease;
}
input[type="suggestion"]{
	width: 400px;
	height: 30px;
	text-align: top;
	margin: auto;
}
input[type="text"]{
	width: 400px;
	height: 30px;
	text-align: top;
}
input[type="comment"]{
	width: 400px;
	height: 60px;
}
input[placeholder]{
	text-align: top;
}
#contact{
	position: relative;
	float: left;
}
#comments{
	height: 60px;
}
#genrebutton{
	position: relative;
	float: right;
	cursor: pointer;
}
#suggestionbox{
	padding-top: 0;
	margin-top: 0;
}
#suggest{
	padding-bottom: 0;
	margin-bottom: 0;
}
#profile{
	width: 180px;
	height: 180px;
	border-radius: 50%;
}
#abouttext{
	text-align: justify;
	line-height: 20px;
	padding-bottom: 0;
}
#bottomline{
	font-size: 12px;
	text-align: center;
}
.material-icons{
	vertical-align: bottom;
}
#mail{
	text-decoration: underline;
	cursor: pointer;
}
#drama{
	background-image: url("http://i.imgur.com/5HXb6W6.jpg");
	margin-right: 20px;
	margin-top: 0;
}
#romance{
	background-image: url("http://i.imgur.com/Mt2IseT.jpg");
	margin-top: 0;
}
#action{
	background-image: url("http://i.imgur.com/VMgjaTA.jpg");
	margin-left: 20px;
	margin-top: 0;
}
#horror{
	background-image: url("http://i.imgur.com/T1pZRkK.jpg");
	margin-right: 20px;
}
#comedy{
	background-image: url("http://i.imgur.com/uGEeafY.jpg")
}
#age{
	background-image: url("http://i.imgur.com/orXZd8T.jpg");
	margin-left: 20px;
}
#documentary{
	background-image: url("http://i.imgur.com/UlkoHoj.jpg");
	margin-right: 20px;
	margin-bottom: 20px;
}
#holidays{
	background-image: url("http://i.imgur.com/pKj5kcz.jpg");
}
#family{
	background-image: url("http://i.imgur.com/TQXQcCz.jpg");
	margin-left: 20px;
}
